header {
  background-color: black;
  color: white;
  height: 3em;
  margin-bottom: 2em;
}

.practice-menu {
  box-shadow: 5px 5px 12px #888888;
}

.btn {
  margin-right: 1em;
}

.lesson-title {
  margin-bottom: 1em;
}

.box-section {
  display: inline-block;
  margin-left: 1em;
}
